<a href="https://colab.research.google.com/github/adityasankalp/Social_Network/blob/main/Social_Network_Ads_Naive_Bayes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [ ]:
# the dataset is imported from google drive. 
# a confirmation will be required
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# read the database in a dataframe from google drive
# edit the path to the google drive
dataset = pd.read_csv('/content/drive/My Drive/Colab Notebooks/Social_Network_Ads.csv') 
X = dataset.iloc[:,[2,3]].values
Y = dataset.iloc[:,[4]].values
dataset

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [ ]:
# splitting dataset into training and test data
from sklearn.model_selection import  train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,Y,test_size = 0.25,random_state = 0)

In [ ]:
# perform standardizationo features
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.fit_transform(X_test)

In [ ]:
# Fitting classifier Naive Bayes to training set, ravel is used to convert 
# to array
from sklearn.naive_bayes import GaussianNB
classifier = GaussianNB()
classifier.fit(X_train,np.ravel(y_train))

GaussianNB(priors=None, var_smoothing=1e-09)

In [ ]:
# predict y from X_test
y_pred = classifier.predict(X_test)

In [ ]:
# check model performance
from sklearn.metrics import confusion_matrix,classification_report
cm = confusion_matrix(y_test,y_pred)
print(cm)

[[64  4]
 [ 5 27]]

In [ ]:
report = classification_report(y_test,y_pred)
print(report)

              precision    recall  f1-score   support

           0       0.93      0.94      0.93        68
           1       0.87      0.84      0.86        32

    accuracy                           0.91       100
   macro avg       0.90      0.89      0.90       100
weighted avg       0.91      0.91      0.91       100